<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900397885760-mkpi1jmcook07n6779egama2nrmdocln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900397885760-mkpi1jmcook07n6779egama2nrmdocln</string>
	<key>API_KEY</key>
	<string>AIzaSyBTGol2YqzcSQ6QKVcdB4s867NLtlnDATQ</string>
	<key>GCM_SENDER_ID</key>
	<string>900397885760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uas</string>
	<key>PROJECT_ID</key>
	<string>login-80589</string>
	<key>STORAGE_BUCKET</key>
	<string>login-80589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900397885760:ios:b27a7a1a4f225cfefe32a5</string>
</dict>
</plist>